* {
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    padding: 0;
    background-color: hwb(182 58% 11%);
}

h1 {
    font-family: sans-serif;
    height: 3rem;
    text-align: center;
    padding: 5px;
    color: hwb(182 58% 11%);
    background: hsl(0, 27%, 15%)
}

h3 {
    /* font-family: sans-serif; */
    color: black;
    margin: 0rem 6rem;
}

form {
    font-family: sans-serif;
    border: orange 2px solid;
    border-radius: 25px;
    width: max-content;
    background: ghostwhite;
    padding: 20px;
    margin: 0.8rem 5rem;
}

label {
    font-size: large;
}

input {
    width: 16rem;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: ridge;
}

button {
    height: 27px;
    font-size: medium;
    padding: 5px;
    background: orangered;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #aa0303;
}

a {
    color: orangered;
    font-size: large
}

a:active,
a:hover {
    color: #aa0303;
}

li {
    color: black;
    margin: 2px 6rem;
    font-size: large;
}

#premium-text {
    text-align: right;
    margin-right: 8rem;
    color: #aa0303;
    font-size: 1.4rem;
}

#premium-features {
    margin: 0rem 6rem;
    color: #aa0303;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#err {
    font-family: sans-serif;
    text-align: center;
    color: #6b2424;
}

#expense-list {
    margin-bottom: 1rem;
}

.pagination {
    display: flex;
    width: max-content;
    height: 25px;
    margin: 0 5rem;
    margin-bottom: 10px;
}

.pagination label {
    font-family: sans-serif;
    font-size: 18px;
    margin: 4px 10px;
}

.pagination button {
    margin: 0 10px;
}